.contact_form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    height: auto;
}

.contact_form h2 {
    font-size: 58px;
    color: white;
    font-family: var(--heading-font);
    font-weight: 100;
    padding: 0px 10px;
    text-align: center;
}

.form_group {
    width: 90%;
    color: white;
    padding: 20px 100px;
    margin: 0 auto;
}

.contact_form button {
    position: relative;
    padding: 8px 10px;
    font-family: var(--main-font);
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 50px;
    border: 1px solid transparent;
    transition: all 2s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.contact_form button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 47px;
    border: 1px solid transparent;
    height: 47px;
    border-radius: 50px;
    scale: 0;
    z-index: -1;
    background-color: #131313;
    transition: all 1s cubic-bezier(0.23, 1, 0.320, 1);
}

.contact_form button:hover {
    border: 1px solid white;
    color: #fff;
    scale: 1;
    background-color: transparent;
    transition: all 2s cubic-bezier(0.23, 1, 0.320, 1);
}

.contact_form button:hover::before {
    scale: 20;
    transition: all 2s cubic-bezier(0.23, 1, 0.320, 1);

}

@media screen and (max-width:900px) {
    .contact_form {
        width: 100%;
        padding: 0;
    }

    .contact_form h2 {
        width: 100%;
        padding: 15px 15px;
        font-size: 38px;
        font-family: var(--heading-font);
    }

    .form_group {
        width: 100%;
    }

    .contact_form button {
        width: 100%;
        color: rgb(0, 0, 0);
        border: transparent;
        background-color: #ffffff;
        transition: .3s ease-in-out;
    }

}