.card {
    /* border: 1px solid red; */
    --bg-color: #B0A695;
    background-color: var(--bg-color);
    padding: 0px 0px;
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    color: rgb(30, 30, 30);
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 95px;
    height: 170px;
    padding: 15px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    /* border: 1px solid wheat; */
    display: flex;
}

.words {
    overflow: hidden;
    position: relative;
    text-align: center;
    /* border: 1px solid red; */
}

.words::after {
    /* border: 1px solid rgb(0, 102, 255); */
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(var(--bg-color) 10%,
            transparent 30%,
            transparent 70%,
            var(--bg-color) 90%);
    z-index: 20;
}

.words span{
    display: flex;
    height: 100%;
    padding-left: 8px;
    color: #3A4D39;
    animation: spinner 4s infinite;
}

@keyframes spinner {
    10% {
        -webkit-transform: translateY(-102%);
        transform: translateY(-102%);
    }

    25% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    35% {
        -webkit-transform: translateY(-202%);
        transform: translateY(-202%);
    }

    50% {
        -webkit-transform: translateY(-200%);
        transform: translateY(-200%);
    }

    60% {
        -webkit-transform: translateY(-302%);
        transform: translateY(-302%);
    }

    75% {
        -webkit-transform: translateY(-300%);
        transform: translateY(-300%);
    }

    85% {
        -webkit-transform: translateY(-402%);
        transform: translateY(-402%);
    }

    100% {
        -webkit-transform: translateY(-400%);
        transform: translateY(-400%);
    }
}

@media screen and (max-width : 1100px) {
    .card {
        width: 100%;
    }

    .loader {
        font-size: 31px;
        text-align: center;
        height: 120px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
    }

    .words::after {
        /* border: 1px solid rgb(0, 102, 255); */
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(var(--bg-color) 5%,
                transparent 15%,
                transparent 80%,
                var(--bg-color) 80%);
        z-index: 20;
    }
}